@charset "UTF-8";
/*====NULLSTYLE===================================*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*=======================================*/
html {
	scroll-behavior: smooth;
}
body {
	font-family: Lato;
	font-size: 18px;
	color: #2d2d2d;
	font-weight: 400;
	background-color: #D7D7D7;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
/*==========================================*/
/*-----------PAGE---------------------------*/
.cv {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #2d2f42;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.cv__sidebar {
	flex: 0 0 400px;
	background-color: #202026;
	display: flex;
	flex-direction: column;
	color: #fff;
}
.cv__page {
	display: flex;
	flex-direction: column;
}
.page-cv__main {
	flex: 1 1 auto;
}
.sidebar-cv__general {
	padding-left: 60px;
}
[class*="__container"] {
	margin: 0 auto;
	padding: 0 60px;
}
/*-----------TITLES---------------------------*/
.title {
	font-family: Montserrat;
	font-size: 28px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-bottom: 2px solid #2d2d2d;
	padding-bottom: 18px;
	margin-bottom: 30px;
}
.title--side {
	border-bottom: 2px solid #fecb00;
	color: #fff;
}

/*====SIDEBAR======================================*/

/*-----------PHOTO--------------------------*/
.sidebar-cv__photo {
	margin-bottom: 50px;
}
.sidebar-cv__photo img{
	max-width: 100%;
}

/*-----------EDUCATION-----------------------*/
.sidebar-cv__education {
	margin-bottom: 40px;
}
.education__info {
	padding-left: 15px;
}
.education__info h4 {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}
.education__info p {
	margin-bottom: 25px;
	line-height: 1.5;
}
.education__items li {
	list-style:disc;
	line-height: 1.5;
	margin: 0px 0px 0px 20px;
}
.education__items span {
	font-style: italic;
}
.education__items li a {
	color: #fff;
	transition: color 0.5s ease 0s;
}
.education__items li a:hover {
	color: #fecb00;
}
/*-----------SKILLS--------------------------*/
.sidebar-cv__skills {
	margin-bottom: 40px;
}
.skills__items {
	padding-left: 15px;
}
.skills__items span {
	padding: 0px 4px;
}
.skills__items li{
	list-style:disc;
	margin: 0px 0px 0px 20px;
	line-height: 1.5;
}
/*-----------LANGUAGES------------------------*/
.sidebar-cv__lang {
	margin-bottom: 70px;
}
.sidebar-cv__lang p {
	padding-left: 15px;
	line-height: 1.5;
}
.sidebar-cv__lang p span {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
}

/*-----------CONTACTS------------------------*/
.sidebar-cv__contacts {
	margin-bottom: 43px;
}
.contacts__item {
	line-height: 1.5;
}
.contacts__title {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 20px;
	background-color: #2d2f42;
	padding-left: 75px;
	background-image: linear-gradient(to right, #fecb00, #fecb00);
	background-repeat: no-repeat;
	background-size: 60px 100%;
	transition: background-size 0.5s ease 0s;
}
.contacts__item:hover .contacts__title {
	background-size: 100% 100%;
}
.contacts__item:hover .contacts__info a {
	color: #fecb00;
}
.contacts__info {
	margin-bottom: 20px;
	padding-left: 75px;
}
.contacts__info a{
	color: #fff;
	transition: color 0.5s ease 0s;
}

/* ====MAIN-PAGE===============================*/

/*-----------HEADER---------------------------*/
.page-cv__navigation {
	background-color: #2d2f42;
	padding: 20px 0px;
}
.navigation__list {
	display: flex;
	justify-content: space-between;
}
.navigation__list li a{
	display: block;
	font-family: Montserrat;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	letter-spacing: 2px;
	transition: all 0.3s ease 0s;
}
.navigation__list li a:hover {
	color: #fecb00;
}
.navigation__link {
	position: relative;
}
.navigation__link span {
	position: relative;
	display: block;
}
.navigation__link span:after {
	content: '';
	position: absolute;
	height: 1px;
	background-color: #fecb00;
	bottom: -3px;
	left: 50%;
	width: 0;
}
.navigation__link:hover span:after {
	left: 0;
	width: 100%;
	transition: all 0.3s ease 0s;
}
/*-----------NAME---------------------------*/
.main-cv__name {
	background-color: #fecb00;
	font-family: Montserrat;
	text-transform: uppercase;
	padding: 60px 0px;
	margin-bottom: 50px;
}
.main-cv__name h1 {
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 10px;
	margin-bottom: 20px;
}
.main-cv__name h3 {
	font-size: 20px;
	letter-spacing: 6px;
}
/*-----------ABOUT---------------------------*/
.main-cv__about {
	margin-bottom: 50px;
}
.main-cv__about p {
	line-height: 1.5;
}

/*-----------PROJECTS---------------------------*/
.main-cv__projects {
	margin-bottom: 30px;
}
.projects__title {
	margin-bottom: 50px;
}
.projects__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.projects__column {
	flex: 0 1 50%;
	padding: 0 10px;
}
.projects__card {
	overflow: hidden;
	display: block;
	cursor: pointer;
	text-align: center;
	font-family: Montserrat;
	text-transform: uppercase;
	color: #202026;
	border: 2px solid #fecb00;
	border-radius: 6px;
	transition: all 0.3s ease 0s;
	margin-bottom: 40px;
}
.projects__card:hover {
	box-shadow: 4px 4px 10px 0px #D7D7D7;
}
.projects__card:hover .card-project__img{
	opacity: 1;
}
.card-project__img {
	height: 170px;
	overflow: hidden;
	margin-bottom: 10px;
	border-bottom: 1px solid #fecb00;
	transition: all 0.5s ease 0s;
	opacity: 0.8;
}
.card-project__img img{
	max-width: 100%;
}
.card-project__name {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 10px;
}
.card-project__discib {
	font-size: 16px;
	margin-bottom: 10px;
}

/*-----------CODE---------------------------*/
.main-cv__code {
	margin-bottom: 50px;
}
.code__title {
	margin-bottom: 50px;
}
.code__area {
	background-color: #2d2f42;
	overflow: hidden;
	border-radius: 4px;
	width: 100%;
	height: 100%;
	padding: 10px 5px 0px;
}
.code__expl {
	font-family: monospace;
	color: #D7D7D7;
}
/*-----------FOOTER---------------------------*/
.page-cv__footer {
	background-color: #fecb00;
	padding: 20px 0px;
}
.footer__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__item {
	display: block;
	transition: all 0.3s ease 0s;
}
.footer-logo:hover {
	transform: scale(1.1);
}
.footer__item img {
	max-width: 100%;
}
.footer__item--github {
	width: 50px;
}
.footer__item--rss {
	width: 100px;
}
.footer__item--data {
	font-family: Montserrat;
	text-transform: uppercase;
	color: #202026;
	font-weight: 700;
	font-size: 30px;
}